<div class="container header">
  <img
    src="images/miguel_martin_cv.jpeg"
    id="main-image"
    alt="miguel_martin_cv" />
  <div class="title">
    <h1>Miguel Martín</h1>
    <div class="splitter"></div>
    <h2>Desarrollador de apps móviles</h2>
  </div>
  <div class="links row d-flex justify-content-center w-75 mt-4">
    <div class="col-sm-2 col-4 mb-4">
      <img src="images/icons/linkedin.svg" alt="LinkedIn" (click)="openLink('https://www.linkedin.com/in/miguelmartin97/')" />
    </div>
    <div class="col-sm-2 col-4 mb-4">
      <img src="images/icons/github.svg" alt="GitHub" (click)="openLink('https://github.com/miguelx97')" />
    </div>
    <div class="col-sm-2 col-4 mb-4">
      <img src="images/icons/googleplay.svg" alt="Google Play" (click)="openLink('https://play.google.com/store/apps/dev?id=8209119328808921253')" />
    </div>
    <div class="col-sm-2 col-4 mb-4">
      <img src="images/icons/whatsapp.svg" alt="WhatsApp" (click)="openLink('https://wa.me/34666772483')" />
    </div>
    <div
      class="col-sm-2 col-4 mb-4"
      data-toggle="tooltip"
      data-placement="top"
      title="Tooltip on top">
      <img src="images/icons/email.svg" alt="Email" (click)="openLink('mailto:mmcmmc97@gmail.com')" />
    </div>
  </div>
</div>
