<div class="header-bg">
</div>
<div class="header">
    <img src="images/miguel_martin_cv.jpeg" id="main-image" alt="miguel_martin_cv">
    <div class="title">
        <h1>Miguel Martín</h1>
        <div class="splitter"></div>
        <h2>Desarrollador de apps móviles</h2>
    </div>
    <div class="links">
        <img src="icons/email.svg" alt="Email">
        <img src="icons/github.svg" alt="GitHub">
        <img src="icons/linkedin.svg" alt="LinkedIn">
        <img src="icons/googleplay.svg" alt="Google Play">
        <img src="icons/whatsapp.svg" alt="WhatsApp">
    </div>
</div>