.header {
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto !important;
  text-align: center;
}

#main-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.links {
  img {
    height: 36px;
    width: 36px;
    cursor: pointer;
  }
}
