<nav class="navbar navbar-expand-lg" [class]="scrollClass">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="scrollTop()">
            <img src="/logo_M.png" width="30" height="30" alt="Miguel Martin Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation" href="#">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" (click)="scroll('skills')" translate>skills.title</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scroll('projects')" translate>projects.title</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scroll('resume')" translate>resume.title</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scroll('about')" translate>about.title</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse order-3 dual-collapse2 justify-content-end second-navbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" translate>
                        navbar.language.title
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" translate (click)="setLanguage('es')">navbar.language.es</a></li>
                        <li><a class="dropdown-item" translate (click)="setLanguage('en')">navbar.language.en</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="openLink('https://github.com/miguelx97/cv_web')"
                        translate>navbar.viewCode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="downLoadCV()" translate>navbar.openPdf</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="bottom-buttons" [class]="scrollClass">
    <a type="button" class="btn" href="mailto:mmcmmc97@gmail.com">
        <img src="images/icons/email2.svg" alt="Go Top" />
    </a>

    <a type="button" class="btn" (click)="scrollTop()">
        <img src="images/icons/top.svg" alt="Go Top" />
    </a>
</div>