.container-fluid {
  background: rgba(255, 255, 255, 0.349);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin: 10px 20px;
  padding: 10px 20px;
}

nav {
  white-space: nowrap;
  position: fixed;
  width: 100%;
  max-width: 100%;
  transition: max-width 0.5s ease;

  a {
    cursor: pointer;
  }

  &.scrolled {
    max-width: 420px;
    .second-navbar {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  nav {
    position: absolute;
  }
}

.second-navbar {
  transition: 0.5s ease;
}

.bottom-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  gap: 8px;

  opacity: 0;
  transition: 0.5s ease;

  @media screen and (min-width: 992px) {
    &.scrolled {
      opacity: 1;
      .btn {
        width: 52px;
        height: 52px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .btn {
    background: rgba(255, 255, 255, 0.445);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 0px;
    transition: 0.5s ease;

    img {
      width: 0px;
      height: 0px;
      transition: 0.5s ease;
    }
  }
}
