<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 mb-4 mb-md-0 text-center text-md-start">
                <span class="quote" [innerHTML]="'footer.quote' | translate"></span>
            </div>
            <div class="col-md-6 col-12">
                <h3 class="mb-3" translate>footer.contact</h3>
                <ul>
                    <li>
                        <span><span translate>footer.social.email</span>: </span><a href="mailto:mmcmmc97@gmail.com"
                            target="_blank">mmcmmc97&#64;gmail.com</a>
                    </li>
                    <li>
                        <span><span translate>footer.social.phone</span>: </span><a href="tel:+34666772483"
                            target="_blank">+34 666 77
                            24 83</a>
                    </li>
                    <li>
                        <span><span translate>footer.social.linkedin</span>: </span><a
                            href="https://www.linkedin.com/in/miguelmartincon/" target="_blank">miguelmartin97</a>
                    </li>
                    <li>
                        <span><span translate>footer.social.github</span>: </span><a
                            href="https://github.com/miguelx97/" target="_blank">miguelx97</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>