<div class="container">
  <app-title title="about"></app-title>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-12">
      <img src="images/about.jpg" alt="sobre mi" class="mb-4 d-none d-md-block" />
      <img src="images/about2.jpg" alt="sobre mi" class="mb-4 d-block d-md-none small-img" />
    </div>
    <div class="col-lg-9 col-md-6 col-12">
      <h3 class="mb-3" translate>about.hi</h3>
      <div innerHTML="{{ 'about.description' | translate }}">
      </div>
    </div>
  </div>
</div>