<div class="container">
  <app-title title="projects"></app-title>

  <div class="row">
    <div class="col-md-6 order-2 mb-4">
      <img src="images/projects/menuzone_mockup.png" alt="menuzone mockup" class="mockup" />
    </div>
    <div class="col-md-6 order-1 mb-4">
      <h3 translate>projects.menuZone.title</h3>
      <p translate>
        projects.menuZone.description
      </p>
      <h4 translate>projects.features</h4>
      <ul>
        <li translate>projects.menuZone.f1</li>
        <li translate>projects.menuZone.f2</li>
        <li translate>projects.menuZone.f3</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 mb-4">
      <h3 translate>projects.ig4.title</h3>
      <p translate>
        projects.ig4.description
      </p>
      <h4 translate>projects.features</h4>
      <ul>
        <li translate>projects.ig4.f1</li>
        <li translate>projects.ig4.f2</li>
        <li translate>projects.ig4.f3</li>
      </ul>
    </div>

    <div class="col-12 col-md-6 mb-4">
      <img src="images/projects/globalsens-mockup.png" alt="globalsens mockup" class="mockup" />
    </div>
  </div>
  <div class="row justify-content-center">
    <a class="link" (click)="openLink('https://portfolio.miguelmartin.pro/')" translate>projects.more</a>
  </div>
</div>