<div class="container">
  <app-title title="Proyectos"></app-title>

  <div class="row">
    <div class="col-12 col-md-6 mb-4">
      <img src="images/projects/menuzone_mockup.png" alt="menuzone mockup" class="mockup"/>
    </div>
    <div class="col-12 col-md-6 mb-4">
      <h3>Menu Zone</h3>
      <p>
        Aplicación desarrollada con Flutter que permite a los usuarios encontrar
        el típico "menú del día" español a su alrededor.
      </p>
      <h4>Funcionalidades</h4>
      <ul>
        <li>Muestra restaurantes por distancia usando geohashes Usa la API de Google</li>
        <li>Maps para cargar la información predeterminada de los restaurantes</li>
        <li>Gestiona el estado global de la aplicación con "Provider"</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 d-none d-md-block mb-4">
      <h3>IG4 Agricultura Razonada</h3>
      <p>
        Aplicación desarrollada para IG4 Agronomía usando Ionic. El objetivo de esta aplicación es mostrar a los agricultores información organizada en gráficos sobre las variables, como el clima, que afectan sus cultivos.
      </p>
      <h4>Funcionalidades</h4>
      <ul>
        <li>Usa gráficos (Highcharts) para gestionar los datos</li>
        <li>Soporte multilenguaje con ngx-translate</li>
        <li>Conexión con la API de la empresa (HttpClient)</li>
      </ul>
    </div>

    <div class="col-12 col-md-6 mb-4">
        <img src="images/projects/globalsens-mockup.png" alt="globalsens mockup" class="mockup"/>
      </div>

    <div class="col-12 col-md-6 d-md-none">
        <h3>IG4 Agricultura Razonada</h3>
        <p>
          Aplicación desarrollada para IG4 Agronomía usando Ionic. El objetivo de esta aplicación es mostrar a los agricultores información organizada en gráficos sobre las variables, como el clima, que afectan sus cultivos.
        </p>
        <h4>Funcionalidades</h4>
        <ul>
          <li>Usa gráficos (Highcharts) para gestionar los datos</li>
          <li>Soporte multilenguaje</li>
          <li>Conexión con la API de la empresa (HttpClient)</li>
        </ul>
      </div>
  </div>
  
</div>
