@import 'theming';

.container {
  width: 75% !important;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.row {
  width: 100%;
}

.text-justify {
  text-align: justify;
}

h1 {
  font-size: 40px;
  font-family: 'Questrial';
  color: var(--primary);
  letter-spacing: 1px;
  font-weight: lighter;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-family: 'AlegreyaSans';
  font-weight: 100;
  color: var(--primary);
  margin: 0;
}

h3 {
  font-size: 20px;
  font-family: 'AlegreyaSans';
  font-weight: 500;
  color: var(--primary);
  margin: 0 !important;
}

h4 {
  font-size: 16px;
  font-family: 'AlegreyaSans';
  font-weight: 500;
  color: var(--primary);
  margin: 0 !important;
}

.splitter {
  background-color: var(--accent);
  height: 2px;
  width: 80px;
  margin: 16px auto;
}

a.link {
  font-size: 20px;
  font-family: 'AlegreyaSans';
  font-weight: 100;
  color: var(--accent) !important;
  text-decoration: none;
  border-bottom: 1px solid var(--accent);
  width: auto !important;
  cursor: pointer;
}

p,
li {
  font-size: 16px;
  font-family: 'AlegreyaSans';
  font-weight: 400;
  color: var(--primary);
}

// import local fonts
@font-face {
  font-family: 'Questrial';
  src: url('/fonts/Questrial-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AlegreyaSans';
  font-weight: 500;
  src: url('/fonts/AlegreyaSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'AlegreyaSans';
  font-weight: 400;
  src: url('/fonts/AlegreyaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AlegreyaSans';
  font-weight: 100;
  src: url('/fonts/AlegreyaSans-Thin.ttf') format('truetype');
}