.container {
    padding: 80px 120px;
    text-align: center;
}

body {
    margin: 0;
}

h2 {
    font-size:24px;
    font-family: 'AlegreyaSans';
    font-weight: 100;
    color:#0f0f10;
    margin: 0;
}

h3 {
    font-size: 20px;
    font-family: 'AlegreyaSans';
    font-weight: 400;
    color:#0f0f10;
    margin: 0;
}

h1 {
    font-size:40px;
    font-family: 'Questrial';
    color:#0f0f10;
    letter-spacing: 1px;
    font-weight: lighter;
    margin: 0;
    text-align: center;
}

.splitter {
    background-color: #1f36a9;
    height:2px;
    width:80px;
    margin: 16px auto;
}

// import local fonts
@font-face {
    font-family: 'Questrial';
    src: url('/fonts/Questrial-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'AlegreyaSans';
    font-weight: 400;
    src: url('/fonts/AlegreyaSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'AlegreyaSans';
    font-weight: 100;
    src: url('/fonts/AlegreyaSans-Thin.ttf') format('truetype');
}
